.message {
    text-align: center;
    margin-top: 70px
}
    
.time-over-message {
    font-size: 20px;
    color: red;
}
        
.answer-explanation-message {
    font-size: 20px;
    color: white;
}

.questions-counter {
    font-size: 22px;
    color: white;
}

.large-questions {
    margin-top: 40px;
}

@media only screen and (max-width: 768px) {
    .message {
        font-size: 16px;
    }
}