.play-button-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.play-button {
    height: 120px;
    width: 120px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    color: white;
}
